@charset "UTF-8";

/* import css files */
@import url("css/features.css");
@import url("css/settings.css");
@import url("css/offline.css");
@import url("css/media_phone.css");
@import url("css/media_tab.css");
@import url("css/item.css");
@import url("css/fonts.css");
@import url("css/icons_on_tabs.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*var in way of change color*/
:root {
	/*use with var(--main-blue-color)*/
	--main-bg-color: #f1f1f1; 
	--main-blue-color: #0b96cd;
	--secondary-blue-color: #0bcdc7;
	--main-item-bg-color: #fff;
	--main-text-color: #000;
	--secondary-text-color: gray;
}


/*/////////////////////////////////  body section   //////////////////////////////*/
body {
  background:var(--main-bg-color) !important;
  color: #1a1a1a;
}

/*/////////////////////////////////  navbar section   //////////////////////////////*/
/* Header */
/*Hide Standart header logo*/
.navbar .brand img,
.navbar .brand h1,
.navbar .brand h2,
.navbar .brand hidden-phone {
  display: none;
}
/*make container navbar to good height and good bg color*/

.navbar .container-logo {
  width: auto;  
  height: 40px;
  padding: 0 10%;
  
  display: flex; /* contexte sur le parent */
  flex-direction: row; /* direction d'affichage verticale */
  justify-content: space-between; /* alignement vertical */
  
  background: var(--main-blue-clear-color);
  background: -moz-linear-gradient(left, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, var(--main-blue-clear-color)), color-stop(100%, var(--main-blue-color)));
  background: -webkit-linear-gradient(left, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  background: -o-linear-gradient(left, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  background: -ms-linear-gradient(left, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  background: linear-gradient(to right, var(--main-blue-clear-color) 0%, var(--main-blue-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="var(--main-blue-clear-color)", endColorstr="var(--main-blue-color)", GradientType=1 );
}

/*make navbar icon*/
.navbar .container-logo img.header__icon {
  width: 150px;
  height: auto;
  margin:auto 0;
}

 /*make navbar input for search*/
.navbar #searchInput {
  height: auto;
  margin: auto 0;
  padding: 5px 20px;
  
  color: white;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid white;
  outline: 0;
  
  background-color: transparent;
  background-image: url('../images/searchicon.png');
  background-position: 7px 6px;
  background-repeat: no-repeat;
  
}
.navbar #searchInput::placeholder {
  color: white;
  opacity: 0.5;
  text-align: center;
}


/*///////////////////////////////// nav bar //////////////////////////////*/


.navbar a.brand{
  display:none;
}


.navbar .navbar-inner {
  background: white;
  width: 100%;
  border: none;
  margin: 0;
}

.navbar-inner .container {
  width: 100%;
  margin: 0;
  padding: 0 10%;
}

.navbar-inner #appnavbar {
  float:left;
  display:flex;
  justify-content:space-between;
  width:auto;
  margin: 0;
}

.nav li a img {
  display: none;
}

.navbar-inner #appnavbar > li a {
  margin-right:30px;
  background:transparent;
  color: #1a1a1a;
  text-shadow:none;
  border:none;
  border-radius:0;
  border-bottom: 2px solid var(--main-blue-color);
  flex-basis:auto;
}

.navbar-inner #appnavbar > li a:hover {
  background:var(--main-blue-color);
  color: #fff;
}


































































.ui-popup.ui-corner-all {
  background-color: #fff;
}
/* author at footer */
#copyright p:after {
  content: "  | 'machinon' theme by EdddieN";
}





/* aboutpage */
#aboutcontent {
	font-family: main-font;
}
#aboutcontent #canvas2 {
	display:none;
}




/* =Header */
.bannercontent {
  padding: 90px 5em 0 5em !important;
}

.sub-tabs .sub-tabs-apply,
.sub-tabs .sub-tabs-apply:hover {
  background-color: var(--main-blue-color);
  border: none !important;
  border-radius: 2px;
  color: #fff;
}

#timesun font {
  color: #1a1a1a;
}

.btnstylerev,
.btnstyle {
  background: none;
  color: #1a1a1a;
}

.bannav a.btnstylerev,
.bannav a.btnstyle {
  position: relative;
  overflow: visible;
  padding: 0em 1em;
}

.bannav a.btnstylerev::before,
.bannav a.btnstyle::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1vmin;
  height: 1vmin;
  background: transparent;
  border-top: 0.1vmin solid #1a1a1a;
  border-right: 0.1vmin solid #1a1a1a;
}

.bannav a.btnstylerev::before {
  left: 0;
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.bannav a.btnstyle::after {
  right: 0;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.bannav a.btnstyle {
  position: relative;
  overflow: visible;
  margin-left: 16px;
}


table.display tr.odd.row_selected td {
  background-color: none;
}


button.menu-toggle {
  display: none;
  position: absolute;
  top: -6px;
  left: 10px;
  background: transparent;
  border: none;
  outline: 0 !important;
}

/* Reset theme button */ 
.resetbtn,
.resetbtn:hover {
  background-color: var(--main-blue-color);
  border: none !important;
  border-radius: 2px;
  color: #fff;
  padding: 10px 20px;
}

/* Panels */
.btn-mini {
  background: none;
  border-color: var(--main-blue-color);
  color: var(--main-blue-color);
  border-radius: 1px;
}
.btn-primary{
  background: none;
  border-color: var(--main-blue-color);
  color: var(--main-blue-color);
  border-radius: 1px;
}
.btn-primary:hover{
  background: none;
  background-color: var(--main-blue-color);
  border-color: var(--main-blue-color);
  color: #fff;
  border-radius: 1px;
}
.btn-warning{
  background: none;
  border-color: #FF8C00;
  color: var(--main-blue-color);
  border-radius: 1px;
}
.btn-warning:hover{
  background: none;
  background-color: #FF8C00;
  border-color: #FF8C0);
  color: #fff;
  border-radius: 1px;
}
.btn-info{
  text-shadow: none;
  background: none;
  background-color: var(--main-blue-color);
  border-color: var(--main-blue-color);
  color: #fff;
  border-radius: 1px;
}
.btn-info:hover{
  background: none;
  border-color: var(--main-blue-color);
  color: var(--main-blue-color);
  border-radius: 1px;
}
.btn-danger{
  background: none;
  border-color: #c74343;
  color: #c74343;
  border-radius: 1px;
}
.btn-danger:hover{
  background: none;
  background-color: #c74343;
  border-color: #c74343;
  color: #fff;
  border-radius: 1px;	
}
.btnsmall,
.btnsmall:hover {
  color: #818183;
}
.display .ui-widget-content {
  background: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid var(--main-blue-color);
}

.ui-widget-header {
  background: var(--main-blue-color);
  border-color: var(--main-blue-color);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: white;
  color: #696969 !important;
}

.btnstyle3-dis, .btnstyle3, .btnstyle3-sel {
  background: var(--main-blue-color);
  margin-top: 15px;
}

.ng-scope h2 {
  color: black;
}


table.dataTable thead th, table.dataTable thead td{
	color: #1a1a1a;
	height:35px;
	border:1px solid #ddd;
	padding-right:10px;
	text-align: -webkit-left;
}

div#hardwarecontent,div#cameracontent,div#devicecontent,div#logcontent {
    width: auto;
}

.label, .badge{
	border-radius: 2px;
	background-color: var(--main-blue-color);
	background-color: var(--main-blue-color);
	text-align: center;
	color: #ffffff;
	padding-right:10px;
	padding-left:10px;
}	

tr.odd, tr.even{
	height:45px;
}

.dataTables_wrapper tr.odd {
  background: #f1f1f1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.dataTables_wrapper tr.even {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#hardwaretable_wrapper a {
  background: transparent !important;
  border: none !important;
  color: black !important;
}

.ui-dialog-buttonset button {
  background: var(--main-blue-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
}

#getlatlong {
  background: var(--main-blue-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 8px 15px;
}

/* =Panels */
.highcharts-background {
  fill: #fff;
  stroke-width: 0;
}

.highcharts-title,
.highcharts-axis-labels text,
.highcharts-legend-item text {
  color: grey !important;
  fill: grey !important;
}

/* Setup */
input#AcceptNewHardware:checked ~ button {
    display:none
}
.allow5min,
.allow5min:hover {
  background: none;
  background-color: var(--main-blue-color);
  color: #fff;
  border-radius: 2px;
  border: none;
}

.ui-corner-all {
  background: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--main-blue-color);
}

.ui-widget-content {
  background: transparent;
  background-color: #f1f1f1;
  color: #1a1a1a;
}


/* =Popus */
.ui-dialog-buttonset .ui-button-text {
  color: #fff;
}

#devices_paginate a {
  background: transparent !important;
  color: #1a1a1a !important;
  border: none !important;
}

.ui-widget-header {
  color: #222222;
}

/* Hamburger */
.menu-toggle {
  width: 25px;
  height: 25px;
}
.menu-toggle:before {
  content: "≡";
  font-size: 35px;
  color: white;
}

.btnsmall {
  display: block;
  background: none;
}


/* Watermarks */
/* Media Queries */






/* MOBILE */


.btn-group .btn {
  margin: 0 0 0 -1px !important;
  background: #fff !important;
  text-shadow: none !important;
  color: #ccccccff;
  box-shadow: none;
  border-width: 0.1em !important;
  border-color: #ccc !important;
  border-style: solid !important;
}
.btn-group > .btn:first-child {
  margin-left: 0 !important;
}

.btn-group .btn-info{
  background: var(--main-blue-color) !important;
  border-color: var(--main-blue-color) !important;
  color: #fff;
}

.btn-group .btn:hover{
  border-color: var(--main-blue-color) !important;
}
.btn-group::-webkit-scrollbar {
margin-bottom:10px;
height: 6px;
border-radius:5px;
background-color:#eee;

}
.btn-group::-webkit-scrollbar-thumb {
background: var(--main-blue-color); 
border-radius: 5px;
}
.btn-group{
padding-bottom:1px;
}



