@charset "UTF-8";

/* import css files */
@import url("css/features.css");
@import url("css/settings.css");
@import url("css/offline.css");
@import url("css/media_phone.css");
@import url("css/media_tab.css");
@import url("css/item.css");
@import url("css/fonts.css");
@import url("css/icons_on_tabs.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.ui-popup.ui-corner-all {
  background-color: #fff;
}
/* author at footer */
#copyright p:after {
  content: "  | 'machinon' theme by EdddieN";
}
/* Navbar move abit to left */
.navbar .nav {
	  float: left;
}
/*var in way of change color*/
:root {
	/*use with var(--main-blue-color)*/
	--main-bg-color: #f1f1f1; 
	--main-blue-color: #0b96cd;
	--secondary-blue-color: #0bcdc7;
	--main-item-bg-color: #fff;
	--main-text-color: #000;
	--secondary-text-color: gray;
}

@media (min-width: 768px) {
  .navbar .brand {
    left: auto;
    margin-left: 90px;
    transform: translateX(0);
  }

  .span3 {
    width: 226px;
  }
}


/* aboutpage */
#aboutcontent {
	font-family: main-font;
}
#aboutcontent #canvas2 {
	display:none;
}



/* common features */
/*need fix media screen*/
div.row{
    padding:0;  
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    justify-content: center;
}

div#floorplancontent {
    height: 100%;
}


body {
  background: var(--main-bg-color) !important;
  color: #1a1a1a;
}

a:link {
  color: inherit;
}

/* Header */
header.logo {
  background: var(--secondary-blue-color);
  background: -moz-linear-gradient(left, var(--secondary-blue-color) 0%, var(--main-blue-color) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, var(--secondary-blue-color)), color-stop(100%, var(--main-blue-color)));
  background: -webkit-linear-gradient(left, var(--secondary-blue-color) 0%, var(--main-blue-color) 100%);
  background: -o-linear-gradient(left, var(--secondary-blue-color) 0%, var(--main-blue-color) 100%);
  background: -ms-linear-gradient(left, var(--secondary-blue-color) 0%, var(--main-blue-color) 100%);
  background: linear-gradient(to right, var(--secondary-blue-color) 0%, var(--main-blue-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="var(--secondary-blue-color)", endColorstr="var(--main-blue-color)", GradientType=1 );
}

.container-logo {
  height: 40px;
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.brand img,
.brand h1,
.brand h2 {
  display: none;
  /*Standart header logo*/
}

img.header__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  width: 150px;
}


.navbar-inverse .navbar-inner {
  border: none;
  background-color: #fff;
}
.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret {
  border-top-color: #1a1a1a;
  border-bottom-color: #1a1a1a;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
  background-color: #fff;
  color: #1a1a1a;
}

.navbar .brand {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  display: block !important;
  margin: 0;
}
.navbar .divider-vertical {
  margin: 0 5px;
}
.navbar .nav li a,
.navbar .nav li a:hover {
  background: none;
  text-shadow: none;
  background-color: #fff;
  color: #1a1a1a;
  border: none;
  border-radius: 0;
  position: relative;
}
.navbar .nav li a:before,
.navbar .nav li a:hover:before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--main-blue-color);
  position: absolute;
  left: 0;
  bottom: 0;
}
.navbar .nav > li > .dropdown-menu:after {
  border-bottom: 6px solid var(--secondary-blue-color);
}
.navbar .nav > li > .dropdown-menu.pull-right li {
  margin-top: 5px;
}
.navbar .nav > li > .dropdown-menu.pull-right li:first-child {
  margin: 0;
}
.navbar .nav .dropdown-menu {
  border: none;
  background: var(--secondary-blue-color);
}
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  background: var(--secondary-blue-color) !important;
}

.navbar .nav .current_page_item > a,
.navbar .nav .current_page_item > a:hover,
.navbar-inverse .nav > li > a:focus {
  text-shadow: none;
  color: #fff;
  background-image: none;
  background-color: var(--main-blue-color);
  border: none;
  border-radius: 0;
}

.nav li a img {
  display: none;
}

.sub-tabs > li > a,
.sub-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background: none;
  border: none;
}

.sub-tabs > .active > a,
.nav-tabs > .active > a:hover {
  border-bottom: 2px solid var(--main-blue-color);
}

/* =Header */
.bannercontent {
  padding: 90px 5em 0 5em !important;
}

.sub-tabs .sub-tabs-apply,
.sub-tabs .sub-tabs-apply:hover {
  background-color: var(--main-blue-color);
  border: none !important;
  border-radius: 2px;
  color: #fff;
}

#timesun font {
  color: #1a1a1a;
}

.btnstylerev,
.btnstyle {
  background: none;
  color: #1a1a1a;
}

.bannav a.btnstylerev,
.bannav a.btnstyle {
  position: relative;
  overflow: visible;
  padding: 0em 1em;
}

.bannav a.btnstylerev::before,
.bannav a.btnstyle::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1vmin;
  height: 1vmin;
  background: transparent;
  border-top: 0.1vmin solid #1a1a1a;
  border-right: 0.1vmin solid #1a1a1a;
}

.bannav a.btnstylerev::before {
  left: 0;
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.bannav a.btnstyle::after {
  right: 0;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.bannav a.btnstyle {
  position: relative;
  overflow: visible;
  margin-left: 16px;
}


table.display tr.odd.row_selected td {
  background-color: none;
}


button.menu-toggle {
  display: none;
  position: absolute;
  top: -6px;
  left: 10px;
  background: transparent;
  border: none;
  outline: 0 !important;
}

/* Reset theme button */ 
.resetbtn,
.resetbtn:hover {
  background-color: var(--main-blue-color);
  border: none !important;
  border-radius: 2px;
  color: #fff;
  padding: 10px 20px;
}

/* Panels */
.btn-mini {
  background: none;
  border-color: var(--main-blue-color);
  color: var(--main-blue-color);
  border-radius: 1px;
}
.btn-primary{
  background: none;
  border-color: var(--main-blue-color);
  color: var(--main-blue-color);
  border-radius: 1px;
}
.btn-primary:hover{
  background: none;
  background-color: var(--main-blue-color);
  border-color: var(--main-blue-color);
  color: #fff;
  border-radius: 1px;
}
.btn-warning{
  background: none;
  border-color: #FF8C00;
  color: var(--main-blue-color);
  border-radius: 1px;
}
.btn-warning:hover{
  background: none;
  background-color: #FF8C00;
  border-color: #FF8C0);
  color: #fff;
  border-radius: 1px;
}
.btn-info{
  text-shadow: none;
  background: none;
  background-color: var(--main-blue-color);
  border-color: var(--main-blue-color);
  color: #fff;
  border-radius: 1px;
}
.btn-info:hover{
  background: none;
  border-color: var(--main-blue-color);
  color: var(--main-blue-color);
  border-radius: 1px;
}
.btn-danger{
  background: none;
  border-color: #c74343;
  color: #c74343;
  border-radius: 1px;
}
.btn-danger:hover{
  background: none;
  background-color: #c74343;
  border-color: #c74343;
  color: #fff;
  border-radius: 1px;	
}
.btnsmall,
.btnsmall:hover {
  color: #818183;
}
.display .ui-widget-content {
  background: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid var(--main-blue-color);
}

.ui-widget-header {
  background: var(--main-blue-color);
  border-color: var(--main-blue-color);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: white;
  color: #696969 !important;
}

.btnstyle3-dis, .btnstyle3, .btnstyle3-sel {
  background: var(--main-blue-color);
  margin-top: 15px;
}

.ng-scope h2 {
  color: black;
}


table.dataTable thead th, table.dataTable thead td{
	color: #1a1a1a;
	height:35px;
	border:1px solid #ddd;
	padding-right:10px;
	text-align: -webkit-left;
}

div#hardwarecontent,div#cameracontent,div#devicecontent,div#logcontent {
    width: auto;
}

.label, .badge{
	border-radius: 2px;
	background-color: var(--main-blue-color);
	background-color: var(--main-blue-color);
	text-align: center;
	color: #ffffff;
	padding-right:10px;
	padding-left:10px;
}	

tr.odd, tr.even{
	height:45px;
}

.dataTables_wrapper tr.odd {
  background: #f1f1f1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.dataTables_wrapper tr.even {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#hardwaretable_wrapper a {
  background: transparent !important;
  border: none !important;
  color: black !important;
}

.ui-dialog-buttonset button {
  background: var(--main-blue-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
}

#getlatlong {
  background: var(--main-blue-color) !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 8px 15px;
}

/* =Panels */
.highcharts-background {
  fill: #fff;
  stroke-width: 0;
}

.highcharts-title,
.highcharts-axis-labels text,
.highcharts-legend-item text {
  color: grey !important;
  fill: grey !important;
}

/* Setup */
input#AcceptNewHardware:checked ~ button {
    display:none
}
.allow5min,
.allow5min:hover {
  background: none;
  background-color: var(--main-blue-color);
  color: #fff;
  border-radius: 2px;
  border: none;
}

.ui-corner-all {
  background: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--main-blue-color);
}

.ui-widget-content {
  background: transparent;
  background-color: #f1f1f1;
  color: #1a1a1a;
}


/* =Popus */
.ui-dialog-buttonset .ui-button-text {
  color: #fff;
}

#devices_paginate a {
  background: transparent !important;
  color: #1a1a1a !important;
  border: none !important;
}

.ui-widget-header {
  color: #222222;
}

/* Hamburger */
.menu-toggle {
  width: 25px;
  height: 25px;
}
.menu-toggle:before {
  content: "≡";
  font-size: 35px;
  color: white;
}

.btnsmall {
  display: block;
  background: none;
}


/* Watermarks */
/* Media Queries */




/* Theme tab in Settings */
input.parentrequiredchild{
    margin-left:16px;
}
input.parentunrequiredchild{
    margin-left:16px;
}
/* if a sub-setting needs the parent settings to be checked. */
#settingscontent input.parentrequired:not(:checked) ~ input.parentrequiredchild,
#settingscontent input.parentrequired:not(:checked) ~ input.parentrequiredchild + label{
	color: #D3D3D3;
}
#settingscontent input.parentrequired:checked ~ input.parentrequiredchild,
#settingscontent input.parentrequired:checked ~ input.parentrequiredchild + label{
    display:inline-block;
}
#settingscontent input.parentrequired:not(:checked) ~ .parentrequiredchild{display:inline-block;}

/* if a sub-setting needs the parent settings to be UNchecked. */
#settingscontent input.parentunrequired:checked ~ input.parentunrequiredchild,
#settingscontent input.parentunrequired:checked ~ input.parentunrequiredchild + label{
    display:inline-block;
}
#settingscontent input.parentunrequired:not(:checked) ~ input.parentunrequiredchild,
#settingscontent input.parentunrequired:not(:checked) ~ input.parentunrequiredchild + label{
    display:inline-block;
}

/* MOBILE */

#login:before {
    background: linear-gradient(to right, var(--secondary-blue-color) 0%, var(--main-blue-color) 100%);
    text-align: center;
    vertical-align: middle;
    background-size: 100% 60px;
    background-repeat: no-repeat;
    border: none !important;
    top: 0% !important;
    bottom: 0% !important;
    left: 0% !important;
    right: 0% !important;
    padding-top: 15px;
}

#login {
    width: 450px;
    height: auto !important;
    margin: auto;
    position: relative;
    padding: 90px 30px 30px 30px !important;
}
#login h1 {
    display:none
}
#login a {
    display:none
}
#login #inputs input[type=text], #login #inputs input[type=password]  {
    border: none;    
    -moz-border-radius: none !important;
    -webkit-border-radius: none !important;
    border-radius: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0;
    background: var(--main-bg-color);
    border-bottom: 1px solid #ccc;
    color: var(--main-text-color);
}
#login #inputs input[type=text]:focus, #login #inputs input[type=password]:focus  {
    border-bottom: 1px solid var(--main-blue-color);
    color: var(--main-text-color);
}
#login fieldset {
  font-family: main-font;
    margin: auto !important;
    width: 25%;
}
#login {
  background-image: none !important;
  background-color: var(--main-item-bg-color) !important;
}

#login #submit {
    background-image: none;
    background-color: var(--main-blue-color);
    color: #fff;
    border: none;
    text-shadow: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn-group .btn {
  margin: 0 0 0 -1px !important;
  background: #fff !important;
  text-shadow: none !important;
  color: #ccccccff;
  box-shadow: none;
  border-width: 0.1em !important;
  border-color: #ccc !important;
  border-style: solid !important;
}
.btn-group > .btn:first-child {
  margin-left: 0 !important;
}

.btn-group .btn-info{
  background: var(--main-blue-color) !important;
  border-color: var(--main-blue-color) !important;
  color: #fff;
}

.btn-group .btn:hover{
  border-color: var(--main-blue-color) !important;
}
.btn-group::-webkit-scrollbar {
margin-bottom:10px;
height: 6px;
border-radius:5px;
background-color:#eee;

}
.btn-group::-webkit-scrollbar-thumb {
background: var(--main-blue-color); 
border-radius: 5px;
}
.btn-group{
padding-bottom:1px;
}

/*System page*/
#settings .row-fluid {
  background: var(--main-item-bg-color);
  height: auto;
  border-radius: 6px;
  
  display:flex;
  justify-content: center;
}

#settings .row-fluid > .span4, #settings .row-fluid > .span6, #settings .row-fluid > .span12 {
  min-height: 210px;
  height:auto;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin:20px;
  padding:20px;
  flex-basis: 500px;;
  width: auto;
  flex-grow:1;
}


